<div class="foot">
  {% if "zh" in page.lang  %}
  <p>Copyright © XR 基地 (XRealityZone)  <a href="https://beian.miit.gov.cn/">粤ICP备2023104442号-2</a></p>
  {% else %}
  <p>Copyright © XR 基地 (XRealityZone) </p>
  {% endif %}
</div>
