<div class="foot">
{% if page.lang == 'en'%}
  <p>Copyright © XRealityZone</p>
{% else %}
  <p>Copyright © <a href="https://xreality.zone/zh/pages/company" target="_blank">深圳市虚实基地科技有限公司</a>  <a href="https://beian.miit.gov.cn/">粤ICP备2023104442号-2</a></p>
{% endif %}
</div>
