<div class="site_head">
  <a class="site_logo" href="{{ linkify('/' + site.primary_lang)  }}">
    {% if podcast and podcast.image %}
      <img src="{{ podcast.image|thumbnail('sm') }}" alt="{{ podcast.title }} logo">
    {% elif site.logo %}
      <img src="{{ site.logo.src|thumbnail('sm') }}" alt="{{ site.name }} logo">
    {% endif %}
    <strong class="site_name">{{ site.name }}</strong>
  </a>
  {% if site.primary_links %}
    <div class="site_nav">
      <label for="nav-links" aria-label="Navigation">
        <i class="icon icon-menu"></i>
      </label>
      <input type="checkbox" id="nav-links" />
      <nav>
        {% for nav in site.primary_links %}
          <a href="{{ nav.url }}" class="nav_title" {% if nav.blank %} target="_blank {% endif %}>{{ nav.title }}</a>
        {% endfor %}
      </nav>
      <a href="#" class="site_search js-search"
        {% if features.algolia %}data-id="{{ site.algolia_id }}" data-key="{{ site.algolia_key }}"{% endif %}>
        <i class="icon icon-search" aria-label="Search"></i>
      </a>
    </div>
  {% endif %}
</div>
