<div class="site_head">
  <a class="site_logo" href="{{ linkify('/' + site.primary_lang + '/')  }}">
    {% if podcast and podcast.image %}
      <img src="{{ podcast.image|thumbnail('sm') }}" alt="{{ podcast.title }} logo">
    {% elif site.logo %}
      <img src="{{ site.logo.src|thumbnail('sm') }}" alt="{{ site.name }} logo">
    {% endif %}
    <strong class="site_name">{{ site.name }}</strong>
  </a>
  {% if site.primary_links %}
    <div class="site_nav">
      <label for="nav-links" aria-label="Navigation">
        <i class="icon icon-menu"></i>
      </label>
      <input type="checkbox" id="nav-links" />
      <nav>
        {% for nav in site.primary_links %}
          <a href="{{ nav.url }}" class="nav_title" {% if nav.blank %} target="_blank {% endif %}>{{ nav.title }}</a>
        {% endfor %}
        {% if site.languages | length > 1 %}
        {# lang select #}
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="nav_title inline-flex items-center " type="button">
          Languages
          <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              {% for lang in site.languages %}
              <li>
                <a href="{{ linkify(lang.url)}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{lang.name}}</a>
              </li>
              {% endfor %}
            </ul>
        </div>
        {% endif %}
      </nav>
      <a href="#" class="site_search js-search"
        {% if features.algolia %}data-id="{{ site.algolia_id }}" data-key="{{ site.algolia_key }}"{% endif %}>
        <i class="icon icon-search" aria-label="Search"></i>
      </a>
    </div>
  {% endif %}
</div>
