{% from "macros.j2" import render_social_icons, render_subject_content %}

{% include "./_head.j2" %}
{% block style %}
<link rel="stylesheet" href="{{ static_url }}assets/coffee.css">
{% endblock %}

{% block body %}
<div class="site">
  {% include "./_nav.j2" %}
  <div class="site_cover">
    {% if site.cover %}
      <img src="{{ site.cover.src|thumbnail('l') }}" alt="{{ site.name }} banner cover">
    {% endif %}
  </div>
  {% set podcast = site.podcast %}
  {% if podcast and podcast.links %}
    <div class="site_podcasts">
      {%- for nav in podcast.links -%}
        <a href="{{ nav.url }}"{% if nav.blank %} target="_blank"{% endif %}>
          <i class="icon icon-{{ nav.icon }}" aria-aria="{{ nav.title }}"></i>
        </a>
      {%- endfor -%}
    </div>
  {% endif %}
  {% set socials = site.socials %}
  {% if socials %}
    <div class="site_socials">
      {{ render_social_icons(site) }}
    </div>
  {% endif %}
</div>

{% set items = query.latest_subjects('post', contains=['content']) %}
{% if items %}
  {% for item in items %}
    {% if item.lang == page.lang %}
      <div class="item">
        {% if item.image %}
          <a href="{{ linkify(item.url)}}" class="item_image">
            <img src="{{ item.image|thumbnail('sm') }}" alt="{{ item.title }} image">
          </a>
        {% endif %}
        <div class="item_wrap">
          <div class="item_meta">
            <div class="item_label">
              {% if item.season and item.episode %}
                <span>S{{ item.season }}E{{ item.episode }}</span>
              {% elif item.episode %}
                <span>E{{ item.episode }}</span>
              {% endif %}
              <span class="item_duration">{{ item.duration }}</span>
            </div>
            <div class="item_time">
              <time datetime="{{ item.published_at|xmldatetime }}">{{ item.published_at.strftime('%Y-%m-%d') }}</time>
            </div>
          </div>
          <div class="item_info">
            <h2><a href="{{ linkify(item.url) }}">{{ item.title }}</a></h2>
            {% if item.subtitle %}
              <h3>{{ item.subtitle }}</h3>
            {% endif %}
          </div>
          <div class="item_summary">{{ item.summary|escape }}</div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% if site.audios_url %}
    <div class="navigation">
      <a href="{{ linkify(site.audios_url) }}">Get more</a>
    </div>
  {% endif %}
{% endif %}

{% include "./_foot.j2" %}
{% endblock %}
